

.about-achivements{
    margin-top: 3rem;
}.about-achivement-conatiner{
    display: grid;
    grid-template-columns: 40% 60% ;
    gap: 5rem ;
}.about-achive-left img{
    height: 400px ;
    width: 400px;
    animation: imaganima 2s infinite ease-in forwards;
    transition:  all 10s ;
}@keyframes imaganima {
    0%{
        transform: scale(1);
    }100%{
        transform: scale(1.1);
    }
}

.about-achive-right > p{
    margin: 1.6rem 0 2.5rem ;

}
.achivement-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.3rem;

}.achivement-card{
    background: var(--color-bg1);
    padding: 1.2rem;
    text-align: center;
    transition: var(--transition);
    border-radius:10px ;

}.achivement-card:hover{
    background: var(--color-bg2);
    box-shadow:  0 3rem 3rem rgba(0, 0,0,.3);


}.achivement-icon{
    background: var(--color-danger);
    padding: 0.7rem !important;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}
.achivement-card:nth-child(2) .achivement-icon{
    background: var(--color-success);
}
.achivement-card:nth-child(3) .achivement-icon{
    background: var(--color-primary);
}.achivement-card p{
    margin-top: 1rem;
}

/* teammembers */
.team{

    background: var(--color-bg1);
    box-shadow:inset 0 0 3rem rgba(0, 0,0,.5);

}.team-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}.team-member-img img{
    height: 200px ;
    width: 200px;
    object-fit: cover;
    padding-right: 2.2rem !important;
    filter: saturate(0);
    
}
.team-member{
    padding: 2rem;
    background: var(--color-bg2);
    border: 1px solid transparent;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
 

}
.team-member:hover{
    background: transparent;
    border-color: var(--color-primary);
}
.team-member:hover img{
    filter: saturate(1);
}
 .team-member-info *{
    text-align: center;
    margin-top: 1rem;
 }
 .team-member-info p{
    color: var(--color-light);
 }
 .team-member-social{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: -2rem 0 2rem rgba(0, 0,0,.3);
    right: -100%;
    /* right: 0;
 */
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    border-radius: 1rem 0 0 1rem ;
 }
 .team-member-social a{
    padding: 1rem;

 }
 .team-member:hover
 .team-member-social{
    right: 0;
 }