:root{
    --color-primary:#3434c0;
    --color-success:#00bf8e;
    --color-warning:#f7c94b;
    --color-danger:#f75842;;
    --colordanger-varient:rgba(247, 88, 66, .4);
    --color-white:#fff;
    --color-light:rgba(255,255,255,.7);
    --color-black:#000;
    --color-bg:#1f2641;
    --color-bg1:#2e3267;
    --color-bg2:#424890;


    --container-width-lg:86%;
    --container-width-mg:87%;
    --container-width-sm:95%;

    --transition: all 400ms ease;

}
